In [ ]:
pip install sklearn

In [ ]:
pip show sklearn

In [ ]:
pip install scikit-learn

In [ ]:
from sklearn.impute import SimpleImputer

In [1]:
import pandas as pd

In [6]:
salary_details=pd.DataFrame({'salary':[1000,50000,20000,50000],'cat':['low','high','mid','low']})

In [8]:
salary_details

   salary   cat
0    1000   low
1   50000  high
2   20000   mid
3   50000   low

In [10]:
salary_details.cat.map({'low':1,'mid':2,'high':3})

0    1
1    3
2    2
3    1
Name: cat, dtype: int64

In [11]:
order=['mid','high','low']